/* src/styles/tailwind.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../constants/Font.css";

body {
  font-family: "Poppins", sans-serif;
}
input:checked {
  background-color: #3f3f3f;
  border-color: red;
}
input:checked::before {
  content: "\2713";
  display: inline-block;
  color: white;
  padding: 6px;

  text-align: center;
  width: 100%;
}
